
/* Achei esse efeito na internet e gostei, alterei pouca coisa */

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.tamanho {
  width: 500px;
}

.number-slide1 {
  background: url('img/destaques/Animes/cavaleiros.jpg');
  background-size: cover;
}

.number-slide2 {
  background: url('img/destaques/Animes/dragonball.jpg'); 
  background-size: cover;     
}

.number-slide3 {
  background: url('img/destaques/Animes/onepiece.jpg'); 
  background-size: cover;
}

.number-slide4 {
  background: url('img/destaques/Animes/onepunch.jpg'); 
  background-size: cover;
}  

.number-slide5 {
  background: url('img/destaques/Animes/yugioh.jpg'); 
  background-size: cover;
} 